[Desktop Entry]
Version=1.0
Name=MK2X Core
Comment=MK2X P2P Cryptocurrency
Comment[fr]=MK2X, monnaie virtuelle cryptographique pair à pair
Comment[tr]=MK2X, eşten eşe kriptografik sanal para birimi
Exec=mk2x-qt %u
Terminal=false
Type=Application
Icon=mk2x128
MimeType=x-scheme-handler/mk2x;
Categories=Office;Finance;
StartupWMClass=Pivx-qt
