
## <summary>policy for mk2x</summary>


########################################
## <summary>
##	Transition to mk2x.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`mk2x_domtrans',`
	gen_require(`
		type mk2x_t, mk2x_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, mk2x_exec_t, mk2x_t)
')


########################################
## <summary>
##	Execute mk2x server in the mk2x domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mk2x_initrc_domtrans',`
	gen_require(`
		type mk2x_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, mk2x_initrc_exec_t)
')


########################################
## <summary>
##	Search mk2x lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mk2x_search_lib',`
	gen_require(`
		type mk2x_var_lib_t;
	')

	allow $1 mk2x_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read mk2x lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mk2x_read_lib_files',`
	gen_require(`
		type mk2x_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, mk2x_var_lib_t, mk2x_var_lib_t)
')

########################################
## <summary>
##	Manage mk2x lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mk2x_manage_lib_files',`
	gen_require(`
		type mk2x_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, mk2x_var_lib_t, mk2x_var_lib_t)
')

########################################
## <summary>
##	Manage mk2x lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mk2x_manage_lib_dirs',`
	gen_require(`
		type mk2x_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, mk2x_var_lib_t, mk2x_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a mk2x environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`mk2x_admin',`
	gen_require(`
		type mk2x_t;
		type mk2x_initrc_exec_t;
		type mk2x_var_lib_t;
	')

	allow $1 mk2x_t:process { ptrace signal_perms };
	ps_process_pattern($1, mk2x_t)

	mk2x_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 mk2x_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, mk2x_var_lib_t)

')

