policy_module(mk2x, 1.100.1)

########################################
#
# Declarations
#

type mk2x_t;
type mk2x_exec_t;
init_daemon_domain(mk2x_t, mk2x_exec_t)

permissive mk2x_t;

type mk2x_initrc_exec_t;
init_script_file(mk2x_initrc_exec_t)

type mk2x_conf_t;
files_type(mk2x_conf_t)

type mk2x_var_lib_t;
files_type(mk2x_var_lib_t)

type mk2x_var_run_t;
files_type(mk2x_var_run_t)

type mk2x_port_t;
corenet_port(mk2x_port_t)

########################################
#
# mk2x local policy
#
allow mk2x_t self:process { fork };

allow mk2x_t self:fifo_file rw_fifo_file_perms;
allow mk2x_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(mk2x_t, mk2x_conf_t, mk2x_conf_t)
manage_files_pattern(mk2x_t, mk2x_conf_t, mk2x_conf_t)

manage_dirs_pattern(mk2x_t, mk2x_var_lib_t, mk2x_var_lib_t)
manage_files_pattern(mk2x_t, mk2x_var_lib_t, mk2x_var_lib_t)
files_var_lib_filetrans(mk2x_t, mk2x_var_lib_t, { dir file })

manage_dirs_pattern(mk2x_t, mk2x_var_run_t, mk2x_var_run_t)
manage_files_pattern(mk2x_t, mk2x_var_run_t, mk2x_var_run_t)

sysnet_dns_name_resolve(mk2x_t)
corenet_all_recvfrom_unlabeled(mk2x_t)

allow mk2x_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(mk2x_t)
corenet_tcp_sendrecv_generic_node(mk2x_t)
corenet_tcp_sendrecv_all_ports(mk2x_t)
corenet_tcp_bind_generic_node(mk2x_t)

gen_require(`
    type mk2x_port_t;
')
allow mk2x_t mk2x_port_t:tcp_socket name_bind;

gen_require(`
    type mk2x_port_t;
')
allow mk2x_t mk2x_port_t:tcp_socket name_connect;

domain_use_interactive_fds(mk2x_t)

files_read_etc_files(mk2x_t)

miscfiles_read_localization(mk2x_t)

sysnet_dns_name_resolve(mk2x_t)

allow mk2x_t mk2x_exec_t:file execute_no_trans;
allow mk2x_t self:process setsched;
corecmd_exec_ls(mk2x_t)
corenet_tcp_connect_http_port(mk2x_t)
dev_read_urand(mk2x_t)
fs_getattr_xattr_fs(mk2x_t)
kernel_read_system_state(mk2x_t)
